@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap");

/* font-family: 'Noto Sans KR', sans-serif; */

body {
  font-family: "Noto Sans KR", sans-serif;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo {
  width: 7.625rem;
  height: 3.75rem;
  background: url(../images/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
  margin-top: 1.25rem;
  margin-left: 2.5rem;
}

header .title {
  width: 21.69rem;
  height: 1.5rem;
  background: url(../images/top_txt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
  margin-top: 1.875rem;
  transform: translateX(-11%);
}

header .menu {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 0.9375rem;
  margin-right: 2.5rem;
  background-color: #fff;
}
header .menu.on {
  /* background-color: red; */
}

header .menu:before,
header .menu:after {
  content: "";
  width: 1.063rem;
  border: 1px solid #333;
  margin: 0.3125rem;
  display: inline-block;
}
header .sub_menu {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #bebebe;
  z-index: 999;
  position: fixed;
  top: -100%;
  transition: all 0.5s;
}
header .sub_menu.active {
  top: 5rem;
}
.sub_menu .txt_box {
  text-align: center;
  margin-top: 7.6rem;
  color: #2980b9;
}
.sub_menu .txt_box h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.sub_menu .txt_box p {
  font-size: 1.4rem;
}
/* 섹션01 */

.s_01 {
  height: 100vh;
}

#video {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

/* 섹션02 */
.section.s_02 {
  background: url(../images/bg_01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.s_02 .contents .box {
  color: #fff;
}
.s_02 .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.s_02 .box h1 {
  font-size: 3.75rem;
  height: 5.563rem;
}

.s_02 .box h3 {
  font-size: 1.625rem;
  margin-top: 1rem;
  height: 2.375rem;
}

.s_02 .box .line {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #fff;
  margin-top: 1.25rem;
  text-align: center;
  display: inline-block;
}

.s_02 .box .image {
  width: 53.88rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.s_02 .box .image .people {
  background: url(../images/smart_people.png);
  width: 14rem;
  height: 14.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_02 .box .image .people:hover {
  background: url(../images/smart_people_hover.png);
  width: 14rem;
  height: 14.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_02 .box .image .work {
  background: url(../images/smart_work.png);
  width: 14rem;
  height: 14.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_02 .box .image .work:hover {
  background: url(../images/smart_work_hover.png);
  width: 14rem;
  height: 14.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_02 .box .image .life {
  background: url(../images/smart_life.png);
  width: 14rem;
  height: 14.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_02 .box .image .life:hover {
  background: url(../images/smart_life_hover.png);
  width: 14rem;
  height: 14.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_02 .box .dot_line {
  background: url(../images/future_biz00.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 52.88rem;
  height: 5.688rem;
  margin-top: 0.125rem;
  margin-left: 0.4375rem;
}

.s_02 .box p {
  font-size: 1.625rem;
  height: 2.375rem;
  margin-top: 0.625rem;
}



/* 섹션03 */

.section.s_03 {
  background: url(../images/bg_02.jpg);
  background-position-y: 2.2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_03 .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.s_03 .contents .box {
  text-align: center;
}

.s_03 .contents h3 {
  height: 1.813rem;
  font-size: 1.25rem;
  color: #888;
  font-weight: 400;
}
.s_03 .contents h1 {
  height: 4.125rem;
  font-size: 2.813rem;
  font-weight: bold;
  color: #444;
  margin-top: 1rem;
}

.s_03 .contents .line {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #888;
  margin-top: 1.25rem;
  text-align: center;
  display: inline-block;
}

.s_03 .contents .image .misson {
  background: url(../images/future_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60.13rem;
  height: 3.813rem;
  margin-top: 3rem;
}

.s_03 .contents .image .vision {
  background: url(../images/future_02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60.13rem;
  height: 4.313rem;
  margin-top: 1.6rem;
}

.s_03 .contents .image .future {
  background: url(../images/future_03.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60.19rem;
  height: 16.56rem;
  margin-top: 4rem;
}

/* 섹션_04 */

.section.s_04 {
  background: url(../images/bg_03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.s_04 .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.s_04 .box .core {
  background: url(../images/future_4p_txt_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 67.5rem;
  height: 18.13rem;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

.s_04 .box .great {
  background: url(../images/future_4p_txt_02.png);
  width: 67.5rem;
  height: 10.31rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.s_04 .box h1 {
  font-size: 2.813rem;
  height: 4.125rem;
  font-weight: bold;
  color: #fff;
}

.s_04 .box .line {
  margin-top: 1.563rem;
  margin-bottom: 3.313rem;
  width: 3.125rem;
  height: 0.125rem;
  background-color: #fff;
  text-align: center;
  display: inline-block;
}

.s_04 .box h3 {
  font-size: 1.625rem;
  height: 2.375rem;
  color: #fff;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: #054fa4;
  z-index: 1000;
  min-width: 100%;
}

footer .logo {
  width: 5.625rem;
  height: 1.438rem;
  background: url(../images/logo_footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-left: 2.5rem;
}

footer p {
  font-size: 0.9375rem;
  color: #fff;
  letter-spacing: 0.1em;
  transform: translateX(38%);
  opacity: 0.8;
}

footer .gnb {
  display: flex;
  margin-right: 2.5rem;
}

footer .gnb li {
  width: 12.88rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  background-color: #2980b9;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
}

footer .gnb li a {
  display: inline-block;
  width: 12.88rem;
  height: 3.5rem;
}

footer .gnb li:last-child {
  background-color: #3498db;
}


/* mediaquery */
@media (max-width: 1400px) {
  html {
    font-size: 12px;
  }
}
@media (max-height: 850px) {
  html {
    font-size: 12px;
  }
}